@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HELR45W.ttf');
}
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}


/* Sections
       ========================================================================== */


/**
     * Remove the margin in all browsers (opinionated).
     */

body {
  margin: 0;
}


/**
     * Add the correct display in IE 9-.
     */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}


/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}


.b-video-player-wrapper {
  position: relative;
  //overflow: hidden;
  display: inline-block;
  width: 100%;
  max-width: 854px;
}

.b-text-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  z-index: 0;
  overflow: hidden;
  font-family: "Helvetica", sans-serif;
}


.b-text-animation.is-ready {
  z-index: 99;
}

.video-js .vjs-big-play-button {
  z-index: 999999;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.vjs-control-bar {
  z-index: 100;
}
.video-js.vjs-fullscreen {
  height: 0 !important;
  padding-top: 56.25% !important;
}

@-webkit-keyframes show {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.show {
  animation-name: show;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  opacity: 1 !important;
}

@-webkit-keyframes grow {
  0% {
    width: 5px;
    height: 5px;
  }
  100% {
    width: 50px;
    height: 50px;
  }
}

@keyframes grow {
  0% {
    width: 5px;
    height: 5px;
  }
  100% {
    width: 50px;
    height: 50px;
  }
}

.charlie {
  opacity: 0;
}
.charlie.animated {
  visibility: visible!important;
  opacity: 1;
}

//----------------------------//
#greeting{
  position: absolute;
  top:54%;
  left: 0;
  font-size: 50px;
  font-weight: 600;
  color: #636669;
  letter-spacing: 5px;
  span:first-child{
    font-size: 40px;
  }
}

#animate2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top:46%;
  right: 52%;
  height: 19%;
  width: 19%;
}
#frame{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82%;
  width: 100%;
  background: url("../img/Frame.Croma.png")center no-repeat;
  background-size: contain;
}
#photo{
  height: 92%;
  width: 92%;
  background: url("../img/photo.png")center no-repeat;
  background-size: cover;
}
#photoName{
  color: #515053;
  font-size: 20px;
  letter-spacing: 1.5px;
}
#name{
  position: absolute;
  top:38%;
  left: 0;
  width: 100%;
  letter-spacing: 0.05em;
  font-size: 64px;
  color: #363536;
}

@media only screen and (max-width:854px) {
  #greeting{
    top:55%;
    letter-spacing: 3px;
    font-size: 4vw;
    span:first-child{
      font-size: 3vw;
    }
  }
  #photoName{
    font-size: 2.3vw;
  }
  #name{
    font-size: 7.2vw;
  }
}
.vjs-fullscreen #greeting{
  font-size: 2vw;
  top:53%;
  left: 25%;
  span:first-child{
    font-size: 1.8vw;
  }
}
.vjs-fullscreen #animate2{
  right: 45%;
}
.vjs-fullscreen #photoName{
  font-size: 1vw;
}
.vjs-fullscreen #name{
  font-size: 3vw;
}
  //media max-width: 854px //

  @media(max-width: 854px) {

  }




@keyframes animate-name1 {
  from {
    opacity: 0;
    transform: translate(-2%,15%);
  }
  10%{
    opacity:1;
    transform: translate(5%,10%);
  }
  30%{
    transform: translate(4%,-26%);
  }
  61%,63%{
    transform: translate(-1%,-12%);
  }
  to {
    transform: translate(-9%,65%);
  }
}
@keyframes animate-name2 {
  from {
    transform: translate(-9%,65%);
  }
  20%{
    transform: translate(-9%,100%);
  }
  25%{
    transform: translate(5%,130%);
  }
  55%{
    transform: translate(4%,150%);
  }
  80%{
    transform: translate(3%,240%);
    opacity: 1;
  }
  95%{
    transform: translate(3%,400%)scale(2);
  }
  to {
    opacity: 0;
    transform: translate(3%,500%)scale(2);
  }
}

.animate-name1 {
  animation: animate-name1 3s linear;
}
.animate-name2 {
  animation: animate-name2 2s linear ;
}

@keyframes animate-image {
  from {
    opacity: 0;
  }
  1%{
    opacity: 1;
    transform: translate(0,0);
  }
  50%,55%{
    opacity: 1;
    transform: translate(-22%,8%)scale(1.15);
  }
  80%,90%{
    opacity: 1;
    transform: translate(-15%,8%)scale(1.15);
  }
  to {
    opacity: 0;
    transform: translate(-70%,80%)scale(2.2);
  }
}
.animate-image {
  animation: animate-image 3.7s linear;
}




@keyframes greeting {
  from {
    opacity: 0;
    transform: translate(0,5%)skewX(-10deg)rotate(2deg);
  }
  2%{
    opacity: 1;
    transform: translate(0,5%)skewX(-10deg)rotate(2deg);
  }
  30%{
    opacity: 1;
    transform: translate(15%,20%)scale(1)skewX(-10deg)rotate(2deg);
  }
  70%,75%{
    opacity: 1;
    transform: translate(20%,30%)scale(1)skewX(-10deg)rotate(1deg);
  }
  88%,92%{
    opacity: 1;
    transform: translate(22%,35%)scale(1.1)skewX(-10deg)rotate(1deg);
  }
  to{
    opacity: 0.8;
    transform: translate(32%,-100%)scale(5)skewX(-10deg)rotate(2deg);
  }
}
.greeting {
  animation: greeting 3.5s linear;
}


@keyframes animate-end {
  from {
    opacity: 1; }
  to {
    opacity: 0;
  }
}
.animate-end {
  animation: animate-end 1s;
}


